body, h1, h2 {
    font-family: 'Product Sans', sans-serif;
    background-color: #FFDE59;
    overflow-x: hidden;
}
.custom-border {
    border: 3.5px dashed #b0b0b0; /* 2px dashed grey border */
    padding: 10px; /* Add some padding to the div for spacing */
    width:  600px; /* Set the desired width */
    height: 450px; /* Set the desired height */
}
.custom-border1 {
    border: 3.5px dashed #b0b0b0; /* 2px dashed grey border */
    padding: 10px; /* Add some padding to the div for spacing */
    width:  600px; /* Set the desired width */
    height: 450px; /* Set the desired height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
}